@model IEnumerable<EMS_Proj.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkintime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkouttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkintime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkouttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.attenID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.attenID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.attenID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
